#nomatch-page{
background: rgba(130, 130, 130, 0.3);
}
#nomatch-page svg{
    position: relative;
    padding-left: 100px;
    left: -238px;
    top: -106px;
}
#front-wheel,#back-wheel{
    animation: wheel 0.7s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}
@keyframes wheel{
    from {
        transform: rotateZ(0deg);
      }
      to {
        transform: rotateZ(-359deg);
      }
}
#car{
    animation: bike 1s ease-in-out infinite alternate;
    transform-origin: bottom;
}
@keyframes bike{
    from {
        transform: rotateX(0deg);
      }
      to {
        transform: rotateX(6deg);
      }
}
